/* styles.css or tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.active-link {
  background-color: white;
  color: #4db6c3;
}

.report-style-class {
  height: 70vh;  /* Set height to 70% of the viewport height */
  width: 80vw;   /* Set width to 90% of the viewport width */
}
@layer base {
  html,
  body {
    @apply overflow-x-hidden w-full h-full;
  }
}
